@{
    ViewData["Title"] = "FortuneTeller";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Welcome to my page.</p>
</div>
<body>
    <p>Where will it <a href="~/Home/Test">go?</a></p>
</body>