@{
    ViewData["Title"] = "FortuneTeller";
    Layout = "_Layout";
}
<div class="text-center">
    <h1 class="display-1">Store</h1>
</div>
<body>
<div class="dropdown">
    <button class="dropbtn">Категории</button>
    <div class="dropdown-content">
        <a href=".\Toasters">Тостер</a>
        <a href=".\Freezers">Холодильник</a>
        <a href=".\Microwaves">Микроволновая печь</a>
        <a href=".\Smartphones">Смартфоны</a>
    </div>
</div>
</body>