@{
    ViewData["Title"] = "FortuneTeller";
    Layout = "_Layout";
}
<div class="text-center">
    <h1 class="display-1">Welcome to the store page!</h1>
</div>
<body>
<div class="dropdown">
    <button class="dropbtn">Категории</button>
    <div class="dropdown-content">
        <a href="#">Тостер</a>
        <a href="#">Холодильник</a>
        <a href="#">Микроволновая печь</a>
        <a href="#">Смартфоны</a>
    </div>
</div>
</body>