@{
    ViewData["Title"] = "FortuneTeller";
    Layout = "_Layout";
}
<div class="text-center">
    <h1 class="display-1">Welcome to the store page!</h1>
</div>
<body>
<div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
        <a href="#">Sulpak</a>
        <a href="#">TechnoDom</a>
        <a href="#">Alser</a>
        <a href="#">Fora</a>
    </div>
</div>
</body>