@{
    ViewData["Title"] = "FortuneTeller";
}
<div class="text-center">
    <h1 class="display-1">Welcome to the store page!</h1>
</div>
<body>
    <div class="dropdown-menu-dark">
        okay.
    </div>
</body>